<header id = "secondBox" class = "navbar">
	<nav class = "secondBox">
    <div class = "logoBox">
		<a class = "homepageLogo" href = "/">Bite-Sized</a>
	</div>
		<ul class = "headerList">
			<li><a href = "/about/" {% if page.url == "/about/" %} style = "color: teal !important;" {% endif %}> About </a></li>
			<li><a href = "/archive/" {% if page.url contains "/archive/" %} style = "color: teal !important;"{% endif %}> Archive </a></li>
			<li><a class = "sponsors" href = "/other-stuff/" {% if page.url == "/other-stuff/" %} style = "color: teal !important;"{% endif %}> Other Stuff </a></li>
		</ul>
	</nav>
<span id = "Hamburger" class="Hamburger" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>

 <div id="myNav" class="overlay">
   <span id  = "Hamburger" class="Hamburger" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <a href="javascript:void(0)" id = "CloseButton" class="CloseButton" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
  <div class = "overlayHolder">
    <a href="/about/" {% if page.url == "/about/" %} style = "color: teal !important;" {% endif %}>About</a>
	<a href="/archive/" {% if page.url contains "/archive/" %} style = "color: teal !important;" {% endif %}>Archive</a>
    <a href="/other-stuff/" {% if page.url == "/other-stuff/" %} style = "color: teal !important;" {% endif %}>Other Stuff</a>
	</div>
	</div>
  </div>
  <script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
</header>