<header id = "secondBox" class = "navbar">
	<nav class = "secondBox">
    <div class = "logoBox">
		<a class = "homepageLogo" href = "/">Bite-Sized</a>
	</div>
		<ul class = "headerList">
			<li><a href = "/about/" {% if page.url == "/about/" %} style = "color: teal !important;" {% endif %}> About </a></li>
			<li><a href = "/archive/" {% if page.url contains "/archive/" %} style = "color: teal !important;"{% endif %}> Archive </a></li>
			<li><a class = "sponsors" href = "/other-stuff/" {% if page.url == "/other-stuff/" %} style = "color: teal !important;"{% endif %}> Other Stuff </a></li>
		</ul>
	</nav>

    <div id="hamburgerMenu" onclick="menuClicked(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <nav>
        <ul id="navLinks">
            <li>
                 <a href="/about/" {% if page.url == "/about/" %} style = "color: teal !important;" {% endif %}>about</a>
            </li>
            <li>
                <a href="/archive/" {% if page.url contains "/archive/" %} style = "color: teal !important;" {% endif %}>archive</a>
            </li>
            <li>
                <a href="/other-stuff/" {% if page.url == "/other-stuff/" %} style = "color: teal !important;" {% endif %}>other stuff</a>
            </li>
        </ul>
    </nav>
  
</header>